@font-face {
  font-family: 'SF Pro';
  src: url('./assets/fonts/SFProRounded-Regular.otf') format('truetype');
  font-style: normal;
}

/* @font-face {
  font-family: 'SF Pro';
  src: url('./assets/fonts/SFProRounded-Bold.otf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'SF Pro';
  src: url('./assets/fonts/SFProRounded-Thin.otf') format('truetype');
  font-style: normal;
  font-weight: 200;
} */

* {
  font-family: 'SF Pro', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.ag-theme-quartz {
  /* hide all font icons */
  /* --ag-icon-font-display: none; */
  /* provide a SVG icon */
  /* --ag-icon-image-aggregation: url("https://www.ag-grid.com/example-assets/svg-icons/aggregation.svg");
  --ag-icon-image-arrows: url("https://www.ag-grid.com/example-assets/svg-icons/arrows.svg");
  --ag-icon-image-asc: url("https://www.ag-grid.com/example-assets/svg-icons/asc.svg");
  --ag-icon-image-checkbox-checked: url("https://www.ag-grid.com/example-assets/svg-icons/arrows.svg");
  --ag-icon-image-checkbox-unchecked: url("https://www.ag-grid.com/example-assets/svg-icons/asc.svg"); */

  /* --ag-icon-font-family: none;
  --ag-icon-font-family: agGridQuartzFont; */

  /* Size */
  /* --ag-grid-size: 5px; */
  /* --ag-list-item-height: 20px; */

  /* Color */
  /* --ag-checkbox-checked-color: rgb(126, 46, 132); */

  /* Selection */
  --ag-range-selection-border-color: rgb(193, 0, 97);
  --ag-range-selection-border-style: dashed;
  --ag-range-selection-background-color: rgb(255, 0, 128, 0.1);

  /* Header */
  --ag-header-column-separator-display: block;
  --ag-header-column-separator-height: 100%;
  --ag-header-column-separator-width: 1px;

  --ag-header-column-resize-handle-display: block;
  --ag-header-column-resize-handle-height: 100%;
  --ag-header-column-resize-handle-width: 5px;
  --ag-header-column-resize-handle-color: transparent;

  --ag-header-height: 36px;
  --ag-row-height: 34px;

  /* Cell */
  --ag-cell-horizontal-border: 1px solid var(--ag-row-border-color);
  --ag-cell-horizontal-padding: 12px;

  /* these next 3 variables control the background colour when 2, 3 or 4+ ranges overlap,
     and should have progressively greater opacity to look realistic - see the docs below
     for the correct formulas to use */
  --ag-range-selection-background-color-2: rgb(255, 0, 128, 0.19);
  --ag-range-selection-background-color-3: rgb(255, 0, 128, 0.27);
  --ag-range-selection-background-color-4: rgb(255, 0, 128, 0.34);

  --ag-range-selection-highlight-color: rgb(60, 188, 0, 0.3);
}

/* 
@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/helvetica-neue-italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/helvetica-neue-bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/helvetica-neue-bold-italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/helvetica-neue-regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
} */